header{
border-color: #cccccc;
border-style: solid;
border-size: 4px;
min-height: 200px;
max-height: 250px;
word-spacing: 20px;
}
h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 32px;
	background: white;
	color:#4aaaa5;	

}


body {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
background-image: "assets/images/b-ground-img.png";

}


footer {
text-align: center;
background-color: #666666;
min-height: 100px;
color: white;
text-align: center;
padding-top: 50px;
border-top: 20px;
border-style: solid;
border-color:#4aaaa5;
}

nav {

vertical-align: bottom;
margin-right: 100px;
}


img {
margin-left: 100px;
float: left;
max-width: 300px;
max-height: 200px;

}
.logo {
	background: #4aaaa5;
	max-width: 15%;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 32px;
	color: white;
	font-style: bold;
	margin-left: 200px;
}

.navbar {
	float: right;

}
.container {
	background: #ffffff;
	border-width: 2px;
	border-style: groove;
	background: #ffffff;
	border-color:#dddddd;
	max-width: 960px;
	
	}

.bio {
	background: #ffffff;
	border-width: 2px;
	border-style: groove;
	max-width: 650px;
	padding-bottom: 200px;
	}

.sidebar {
	float: right;
	max-width: 270px;
	background: #ffffff;
	border-width: 2px;
	border-style: groove;

}


